{include file="header" /}
<div class="container">
{include file="breadcrumb" /}
  <form method="post" id="create-form" action="{$action}">
    <div class="form-group">
      <label for="title">标题:</label>
      <input type="text" class="form-control" id="title" name="title" value="{$row.title|default=''}" required autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="content">内容:</label>
      <textarea class="form-control" rows="5" id="content" name="content" required>{$row.content|default=''}</textarea>
    </div>
      <div class="form-group">
        <label for="url">链接:</label>
        <input type="url" class="form-control" id="url" name="url" value="{$row.url|default=''}" required autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="date">时间:</label>
        <input type="datetime-local" class="form-control" id="date" name="date" value="{$row.date|default=''}" required>
      </div>      
	{:token_field()}  
    <button type="submit" class="btn btn-primary btn-block">提交</button>
	{present name="row._id"}
		<input type="hidden" name="_id" value="{$row._id}" />
	{/present}
  </form>
</div>
{include file="footer" /}
<script>
$(document).ready(function(){
    $("#create-form").submit(function(e){
        $.ajax({
            url:$('#create-form').attr('action'),
            data:$('#create-form').serialize(),
            method: "POST",
            success:function(result){
                if(result.code == 0)
                {
                    show_succ_tip(result.info,'.breadcrumb');
                    location.href = '/';
                }
                else
                {
                    show_err_tip(result.info,'.breadcrumb');
                }
            }
        });   
        return false;    
    });
});
</script>
</body>
</html>