{include file="header" /}
<div class="container">
  <h2>添加资讯</h2>
  <form method="post" id="create-form" action="{:url('news/add')}">
    <div class="form-group">
      <label for="title">标题:</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="content">内容:</label>
      <textarea class="form-control" rows="5" id="content" name="content" required></textarea>
    </div>
      <div class="form-group">
        <label for="url">链接:</label>
        <input type="url" class="form-control" id="url" name="url" required>
      </div>
      <div class="form-group">
        <label for="date">时间:</label>
        <input type="datetime-local" class="form-control" id="date" name="date" required>
      </div>      
    <button type="submit" class="btn btn-primary btn-block">提交</button>
  </form>
</div>
{include file="footer" /}
<script>
$(document).ready(function(){
    $("#create-form").submit(function(e){
        $.ajax({
            url:$('#create-form').attr('action'),
            data:$('#create-form').serialize(),
            method: "POST",
            success:function(result){
                if(result.code == 0)
                {
                    show_succ_tip(result.info,'h2');
                    location.href = '/';
                }
                else
                {
                    show_err_tip(result.info,'h2');
                }
            }
        });   
        return false;    
    });
});
</script>
</body>
</html>