{include file="header" /}
<div class="container">
{include file="breadcrumb" /}
  <form role="form" class="form-horizontal" action="{:url('index/Index/search')}" id="search-form" method="get">  
    <div class="form-group">
      <div class="col-lg-12">  
        <input type="date" class="form-control" value="{$Request.get.start}" name="start" id="start" placeholder="开始日期">
      </div>
    </div>  
    <div class="form-group">
        <div class="col-lg-12">
            <input type="date" class="form-control" value="{$Request.get.end}" name="end" id="end" placeholder="结束日期">
        </div>    
    </div>     
    <div class="form-group">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="search" id="keyword" name="keyword" value="{$Request.get.keyword}" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->    
    </div> 
  </form>
  <ul class="list-group">
{volist name="list" id="item" }  
    {if condition="$item.type == 1"}
    <li class="list-group-item"><article class="list-group-item-text"><a href="{$item.url}" target="_blank"><time>{$item.date}</time></a><p></p><p>{$item.content}</p>{notempty name="item.img"}<p><a href="{$item.img}" target="_blank">{$item.img}</a></p>{/notempty}</article></li>
    {elseif condition="$item.type == 3"/}
    <li class="list-group-item"><article class="list-group-item-text"><a href="{$item.url}" target="_blank"><time>{$item.date}</time></a><p></p><p>{$item.content}</p></article></li>
    {else}
    <li class="list-group-item"><section class="list-group-item-text"><a href="{$item.url}" target="_blank"><time>{$item.date}</time></a><p></p><p>{$item.title}</p>
    {present name="item.num_json"}<p>{foreach $item.num_json as $nj} <span>{$nj}</span> {/foreach}</p>{/present}
    <p>{$item.data_tag}</p></section></li>
    {/if}
{/volist}
  </ul>
  {$list->render()}
</div>
{include file="footer" /}
<script>
$(document).ready(function(){
    {if condition="$Request.get.keyword"}
        $.each($('.list-group-item'),function(i,n){
            var content = $(n).html();
            var values = content.split('{$Request.get.keyword}');
            $(n).html(values.join('<span style="background:yellow;">{$Request.get.keyword}</span>'));
        });
    {/if}
});
</script>
</body>
</html>